* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange1: #ff6b00;
  --black: #000000;
  --white: #ffffff;
}

body {
  background: var(--orange1);
  position: relative;
  overflow-x: hidden;
}

/* =====================================
===============scrollbar================
===================================== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange1);
  border-radius: 5px;
  border: 1px solid var(--white);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ba4e00;
}
/* =====================================
============loader_container============
===================================== */
.loader_container {
  position: fixed;
  z-index: 2;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background: var(--black);
  color: var(--white);
}
.loader_container .pre_loader {
  width: 200%;
  height: 100%;
  padding: 2em;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5em;
  overflow: hidden;
}
.loader_container .pre_loader p {
  width: max-content;
  text-transform: uppercase;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
}
.loader_container .pre_loader .counter {
  height: 60px;
  display: flex;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100px;
  letter-spacing: 2px;
  clip-path: polygon(0 0, 100% 0, 100% 60px, 0 60px);
}
.digit_1,
.digit_2,
.digit_3,
.digit_4 {
  position: relative;
  top: -15px;
}
.loader_container .pre_loader .progress_bar {
  position: relative;
  top: -5px;
  width: 0%;
  height: 4px;
  background: var(--white);
}
.loader_container .loader_imgs {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.loader_container .loader_imgs img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
@media (max-width: 768px) {
  .loader_container .pre_loader p {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.5px;
  }
  .loader_container .pre_loader .counter {
    height: 50px;;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 2px;
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 50px);
  }
}
/* =====================================
=============hero_container=============
===================================== */
.hero_container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background: #00000082;
  z-index: 2;
  opacity: 0;
}
.hero_container .side-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero_container .side-img img {
  position: absolute;
}
.hero_container .side-img .img_1 {
  left: -50px;
}
.hero_container .side-img .img_2 {
  top: 85px;
  left: 105px;
  width: 200px;
}
.hero_container .content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.hero_container .content img {
  margin-bottom: 50px;
}
.hero_container .content p {
  text-transform: uppercase;
  color: var(--white);
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.hero_container .content button {
  cursor: pointer;
  padding: 5px 10px;
  background: var(--black);
  color: var(--white);
  transition: 0.2s ease-in-out;
  font-family: "Bebas Neue", serif;
  letter-spacing: 2px;
  border: none;
}
.hero_container .content button:hover {
  color: var(--orange1);
  letter-spacing: 4px;
}
@media (max-width: 600px) {
  .hero_container .content {
    background: rgba(0, 0, 0, 0.25);
    margin: 10px;
  }
  .hero_container .content img {
    width: 250px;
    margin-bottom: 20px;
  }
  .hero_container .content p {
    font-size: 25px;
  }
}
/* =====================================
=============card_container=============
===================================== */
.card_container {
  position: relative;
  z-index: 3;
  height: 600vh;
  overflow: hidden;
  margin-bottom: -100vh;
}
.card_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_container .card_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.card_container .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card_container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
}
.card_container .outline-layer {
  z-index: 1;
}
.card_container .cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 302.5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  will-change: transform;
  z-index: 2;
}

.card_container .cards * {
  transition: 0.3s ease-in-out;
}
.card_container .cards .card {
  position: relative;
  width: 8%;
  height: 65%;
  background: var(--black);
  display: flex;
  flex-direction: column;
}
.card_container .cards .card:hover {
  background: var(--orange1);
}
.card_container .cards .card:hover .card-img {
  padding: 1em;
  padding-bottom: 0;
}
.card_container .card .card-img {
  flex: 1.5;
  overflow: hidden;
}
.card_container .card .card-title {
  flex: 1;
  overflow: hidden;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}
.card_container .card .card-title h1 {
  font-size: 55px;
  line-height: 50px;
}
.card_container .card .card-title h1,
.card_container .card .card-title p {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px !important;
}
.card_container .card .card-title p {
  letter-spacing: 1.5px !important;
}
.lenis .lenis-smooth[data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis .lenis-stopped {
  overflow: clip;
}
.lenis .lenis-smooth iframe {
  pointer-events: none;
}
@media (max-width: 900px) {
  .card_container .cards {
    width: 304.5%;
  }
  .card_container .cards .card {
    width: 20%;
  }
}
@media (max-width: 600px) {
  .card_container .cards .card {
    width: 22%;
  }
}

/* =====================================
============about_container=============
===================================== */
.about_container {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 300vh;
}
.about_container .content {
  position: sticky;
  top: 0;
  padding: 20px;
}
.about_container .content h1 {
  position: relative;
  z-index: 10;
  font-family: "Bebas Neue", serif;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18.4vw;
  line-height: 15vw;
  color: var(--white);
}
@media screen and (max-width: 1100px) {
  .about_container .content h1 {
    font-size: 18.2vw;
  }
}
@media screen and (max-width: 1000px) {
  .about_container .content h1 {
    font-size: 18vw;
  }
}
@media screen and (max-width: 930px) {
  .about_container .content h1 {
    font-size: 17.8vw;
  }
}
@media screen and (max-width: 870px) {
  .about_container .content h1 {
    font-size: 17.5vw;
  }
}
@media screen and (max-width: 790px) {
  .about_container .content h1 {
    font-size: 17.2vw;
  }
}
@media screen and (max-width: 725px) {
  .about_container .content {
    padding: 10px;
  }
  .about_container .content h1 {
    font-size: 17vw;
  }
}
@media screen and (max-width: 690px) {
  .about_container .content h1 {
    font-size: 16.6vw;
  }
}
@media screen and (max-width: 625px) {
  .about_container .content h1 {
    font-size: 16.2vw;
  }
}
@media screen and (max-width: 570px) {
  .about_container .content h1 {
    font-size: 15.8vw;
  }
}
@media screen and (max-width: 530px) {
  .about_container .content h1 {
    font-size: 15.4vw;
  }
}
@media screen and (max-width: 490px) {
  .about_container .content h1 {
    font-size: 15vw;
  }
}
@media screen and (max-width: 455px) {
  .about_container .content h1 {
    font-size: 14.5vw;
  }
}
@media screen and (max-width: 420px) {
  .about_container .content h1 {
    font-size: 14vw;
  }
}
@media screen and (max-width: 390px) {
  .about_container .content h1 {
    font-size: 15vw;
  }
}
.about_container .img_row_1 {
  margin-bottom: 10px;
}
.about_container .content .rows {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.about_container .content .col6 {
  width: 50%;
}
.about_container .content .img_row_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_container .content .img_1 {
  overflow: hidden;
  height: 350px;
}
.about_container .content .img_2 {
  overflow: hidden;
  height: 350px;
}
.about_container .content .img_3 {
  overflow: hidden;
  height: 190px;
  margin-bottom: 10px;
}
.about_container .content .img_4 {
  overflow: hidden;
  height: 150px;
}

.about_container .content .info_1 {
  height: 300px;
  transform: translateY(40vh);
}
.about_container .content .logoz {
  width: 75px !important;
}
.about_container p {
  color: var(--white);
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  text-align: justify;
  letter-spacing: 3px;
}
.about_container .content .img_5 {
  height: 300px;
}
.about_container .content .img_5 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about_container img,
.about_container .img_1,
.about_container .img_2,
.about_container .img_3,
.about_container .img_4,
.about_container .img_5,
.about_container .info_1,
.about_container h1 span {
  transition: transform 0.3s ease-out;
  will-change: transform;
}
@media screen and (max-width: 1080px) {
  .about_container p {
    font-size: 23px;
  }
}
@media screen and (max-width: 880px) {
  .col6 {
    width: 100% !important;
  }
  .about_container .content .img_row_1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .about_container .content .img_row_2 {
    flex-direction: column-reverse;
  }
  .about_container .content .info_1 {
    height: max-content;
  }
  .about_container .content .img_1 {height: 180px;}
  .about_container .content .img_2 {height: 250px;}
  .about_container .content .img_3 {height: 150px;}
  .about_container .content .img_4 {height: 90px;}
  .about_container .content .img_5 {height: 180px;}
  .about_container .content .logoz {
    width: 60px !important;
  }
  .about_container p {
    font-size: 19px;
    margin-bottom: 10px;
  }
}
/* =====================================
===========scroll_container=============
===================================== */
.scroll_container {
  position: relative;
  height: 400vh;
  width: 100%;
  background: linear-gradient(0deg, transparent, #6f2e00);
}
.scroll_container .scroll_text {
  padding: 20px;
  position: sticky;
  top: 0;
  width: max-content;
}
.scroll_container .scroll_text h1 {
  position: relative;
  z-index: 2;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18.4vw;
  line-height: 15vw;
  color: var(--white);
}
.scroll_container .scroll_text h1 .changeColor {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
}
.scroll_container .layer_1,
.scroll_container .layer_2,
.scroll_container .layer_3 {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.scroll_container .layer_1 img,
.scroll_container .layer_2 img,
.scroll_container .layer_3 img {
  position: absolute;
  height: 0vh;
  width: max-content;
  object-fit: contain;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media screen and (max-width: 820px) {
  .scroll_container .scroll_text h1 {
    font-size: 30vw;
    line-height: 25vw;
  }
  .scroll_container .scroll_text {
    padding: 10px;
  }
  .scroll_container .scroll_text h1 .changeColor {
    -webkit-text-stroke: 2px;
  }
}
/* =====================================
===========footer_container=============
===================================== */
.footer_container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("../images/footer_bg_2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--orange1);
}
.footer_container:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000042;
}
.footer_container .preview {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 225px;
  height: 275px;
  z-index: 2;
  pointer-events: none;
}
.footer_container .preview-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer_container .preview-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_container .preview-img-2 {
  top: 20px;
  left: 20px;
}
.footer_container .menu {
  width: 100%;
  z-index: 1;
  /* margin: 13em 0; */
}
.footer_container .menu-item {
  width: 100%;
  padding: 0 2em;
  display: flex;
  cursor: pointer;
}
.footer_container .menu-item p {
  position: absolute;
  top: 0%;
  width: 100%;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -0.02em;
  transition: color 0.25s;
}
.footer_container .info,
.name,
.tag {
  position: relative;
  overflow: hidden;
}
.footer_container .info,
.tag {
  flex: 1;
  height: 18px;
  font-size: 18px;
  letter-spacing: 1em;
}
.footer_container .info p,
.tag p {
  letter-spacing: 0.02em !important;
}
.footer_container .tag {
  text-align: right;
}
.footer_container .name {
  flex: 4;
  height: 65px;
  font-size: 65px;
  text-align: center;
}
@media screen and (max-width: 920px) {
  .footer_container .name {
    height: 50px;
    font-size: 50px;
  }
}
@media screen and (max-width: 720px) {
  .footer_container .name {
    height: 50px;
    font-size: 40px;
  }
  .footer_container .info,
  .tag {
    height: 36px;
  }
  .footer_container .preview {
    width: 160px;
    height: 200px;
  }
}
@media screen and (max-width: 580px) {
  .footer_container .name {
    height: 80px;
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .footer_container .menu-item {
    padding: 0 1em;
  }
  .footer_container .name {
    height: 65px;
    font-size: 32px;
  }
  .footer_container .info,
  .tag {
    height: 30px;
    font-size: 15px;
  }
  .footer_container .preview {
    width: 120px;
    height: 150px;
  }
}
@media screen and (max-width: 370px) {
  .footer_container .name {
    height: 55px;
    font-size: 28px;
  }
}
.footer_container .info p:nth-child(2),
.footer_container .name p:nth-child(2),
.footer_container .tag p:nth-child(2) {
  top: 100%;
  color: var(--white);
}
.footer_container .menu:hover .info p:nth-child(1),
.footer_container .menu:hover .name p:nth-child(1),
.footer_container .menu:hover .tag p:nth-child(1) {
  color: #b94d00;
}
